
{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<div class=" ui centered grid" style="font-size:15px;text-align:left;">
    <div class="ten wide column">
<h1>About Us</h1>
We are a group of students interested in birds and nature conservation.
This project is still in its infancy and you might not get correct answers for all the images.
Also it works only for good, clear picture in which the bird’s features are visible clearly.

We would appreciate feedback/support from you in any form.
Please get in touch with us if you would like to know more or contribute.<br><br>
Our email : contact@birdbook.info
<br><br>
<h1>Credits</h1>
<p>Birdbook logo &copy; <a href="https://thenounproject.com/ho.ching.5074/">Ho Ching</a> via <a href="https://thenounproject.com/term/bird/28769/"> The Noun Project</a>.
    <br>Bird description powered by Wikipedia under &nbsp; <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></p>
    </div>
</div>
{% endblock %}