{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
<style>
    .dropzone{
        border-radius:1.8em;
        border:3px dashed black;
        width:75%;
    }
    .dz-message{
        font-size:2em;
        font-family: 'Josefin Sans', sans-serif;
        font-weight:500;
    }
</style>
{% endblock %}
{% block body %}

    <div class=" ui centered grid">
        <div class="three wide column"></div>
        <div class="thirteen wide column">
    <form enctype="multipart/form-data" method="post" action="/" class="dropzone" id="my-awesome-dropzone">
        {% csrf_token %} </form>

</div>
</div>


{% endblock %}
{% block script %}

<script src="{% static 'js/dropzone.min.js' %}"></script>
<script>
   // "myAwesomeDropzone" is the camelized version of the HTML element's ID
Dropzone.options.myAwesomeDropzone = {
      init: function() {
    this.on("success", function(file, responseText) {
      // Handle the responseText here. For example, add the text to the preview element:
      <!-- responseText = camelize(responseText); -->
      file.previewTemplate.appendChild(document.createTextNode(responseText));
    });
  },
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize: 100, // MB
  acceptedFiles:"image/*",
  dictDefaultMessage: "Drop your bird images here or click here to browse",
  accept: function(file, done) {
    if (file.name == "justinbieber.jpg") {
      done("Naha, you don't.");
    }
    else { done(); }
  },
 
};

 function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#upload").change(function(){
        readURL(this);
    });
    </script>
{% endblock %}

