<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
  <link href="{% static 'semantic/semantic.min.css' %}" rel="stylesheet">
  {% block head %}
    <title>Birdybook</title> 
  {% endblock%}
  <style>
  {% block style %}
  {% endblock %}
  </style>
  <!--<link href="{% static 'css/base.css' %}" rel="stylesheet">-->
</head>
<body>

<div class="ui container"> 
  {% block body %}
  {% endblock%}
</div>
</body>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'semantic/semantic.min.js' %}"></script>
{% block script %}
{% endblock%}
</html>
